# The contact ID to send messages to, put your number here with the country code (e.g. 258xxxxxxxxx), whitout plus "+".
SEND_TO = "258xxxxxxxxx"

# The contact ID can be provided in the meta for developer.
FROM_PHONE_NUMBER_ID = ""

# Token can be provided in the meta for developer.
TOKEN_WHATSAPP = ""

# You can use the latest available version
WHATSAPP_VERSION = "v19.0"

# Bible api
# More details at: https://bible-api.com
BIBLE_API = "https://bible-api.com"

# Google Gemini API
https://developers.google.com/gemini

GEMINI_API_KEY = ""